    .mastercraft {
        padding-top: 0;
        .text {
            h1 {
                font-size: 1rem;
                padding: 0 2.5rem;
                font-weight: 700;

                @include breakpoint-up(medium) {
                    font-size: 1.375rem;
                }
            }
            h2 {
                margin-top: 1.625rem;
                font-size: 0.75rem;
                line-height: 1.375rem;
                padding: 0 0.3125rem;
                font-weight: 400;
                color: $darkGray;
            }

            &__btns {
                margin-top: 2rem;
                width: 100%;
                display: flex;
                justify-content: space-between;

                input {
                    display: none;
                }

                &__back-project {
                    font-size: 0.75rem;
                    padding: 1.375rem 2.875rem;
                    background: $moderateCyan;
                    color: white;
                    border-radius: 50px;

                    &:hover {
                        background: $darkCyan;
                    }
                }
                &__bookmark {
                    background: none;
                    cursor: pointer;
                    outline: none;
                    font-family: 'Commissioner', sans-serif;
                    font-weight: 700;
                    transition: .2s ease-in-out;

                    svg {
                        transition: ease-in-out .2s;

                        circle {
                            fill: #2f2f2f;
                            transition: .4s ease-in-out;
                        }
                        path {
                            fill: #b1b1b1;
                            transition: .4s ease-in-out;
                        }

                        &:not(:root) {
                            overflow: visible;
                        }
                    }
                    
                    &:hover > svg{
                        opacity: .6;
                    }

                    @include breakpoint-up(medium) {
                        display: flex;
                        background: rgba($black,0.04);
                        border-radius: 50px;
                        height: 100%;
                        width: 175px;
                        align-items: center; 
                    }

                    p {
                        width: 100%;
                        color: $darkGray;
                        transition: .4s ease-in-out;
                    }
                }

                button {
                    cursor: pointer;
                    outline: none;
                    font-family: 'Commissioner', sans-serif;
                    font-weight: 700;
                    transition: .2s ease-in-out;
                }
            }
        }
        &__logo {
            transform: translateY(-50%);
        }
        #book:checked ~ {
            .text__btns__bookmark {
                svg circle {
                    fill: $darkCyan;
                }
                svg path {
                    fill: $lightGray;
                }
                p{
                    color: $darkCyan;
                }
            }  
        }
    }
