.modal {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    position: absolute;
    z-index: 20;
    top: 7.5rem;
    visibility: hidden;

    @include breakpoint-up(medium) {
        transform: translateX(-50%);
        left: 50%;
        width: calc(38rem - 48px);
    }

    .subtitle-modal {
        font-size: 0.75rem;
        text-align: left;
        color: $darkGray;
        font-weight: 400;
        line-height: 1.25rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    &__header {
        display: flex;
        height: 2.25rem;
        align-items: center;
        padding: 1.75rem 1.5rem;

        @include breakpoint-up(medium) {
            padding-bottom: 0;
        }

        &__title {
            text-align: left;
            margin-left: 1rem;
            line-height: 1.125rem;

            @include breakpoint-up(medium) {
                display: flex;
            }

            h2 {
                font-weight: 400;
                color: $moderateCyan;

                @include breakpoint-up(medium) {
                    margin-left: 1rem;
                }
            }
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            display: inline-block;
            background-clip: content-box;
            border: 2px solid #e2e2e2;
            background-color: none;
            border-radius: 50%;
            padding: 3px;
            transition: .2s ease-in-out;

            height: 1.5rem;
            width: 1.5rem;
            background-clip: content-box;

            &:checked {
                background-color: $moderateCyan;
            }
        }
    }

    &__info {
        padding: 0 1.5rem;
        text-align: left;

        p {
            font-size: 0.8rem;
            font-weight: 400;
            color: $darkGray;
            line-height: 1.25rem;
            margin-bottom: 1.5rem;

            @include breakpoint-up(medium) {
                padding-left: 40px;
            }
        }
        h3 {
            font-size: 1rem;
            font-weight: 400;
            color: $darkGray;
            margin-bottom: 1.75rem;
            
            @include breakpoint-up(medium) {
                position: absolute;
                top: 2.125rem;
                right: 1.75rem;
            }

            span {
                margin-right: 8px;
                font-weight: 700;
                color: black;
            }
        }
    }

    &__line {
        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 1rem;
        }
        button {
            background: none;
            cursor: pointer;
            outline: none;
        }
    }

    &__pledge {
        display: none;
        border-top: $lightGray 2px solid;
        padding: 1.75rem 1.5rem;
        line-height: 3rem;

        h1 {
            font-weight: 400;
            color: $darkGray;
        }

        &__container {

            @include breakpoint-up(medium) {

                display: flex;
                justify-content: space-between;

                h1 {
                    margin-bottom: 0;
                }
            }
        }

        &__form {
            display: flex;
            justify-content: space-between;

            &__input {
                height: 2.875rem;
                line-height: 2.875rem;
                width: 5.5rem;
                border: $darkGray 1px solid;
                border-radius: 100px;
                text-align: left;
                cursor: text;
                font-family: 'Commissioner', sans-serif;
                font-weight: 700;
                transition: .2s ease-in-out;

                &:hover {
                    border-color: $darkCyan;
                }

                @include breakpoint-up(medium) {
                    margin-right: 1rem;
                }

                span {
                    color: $darkGray;
                    margin-right: 0.5rem;
                    margin-left: 1.5rem;
                    font-size: 0.9rem;
                }

                input {
                    width: calc(100% - 52px);
                    height: 100%;
                    outline: none;
                    background: none;
                    font-family: 'Commissioner', sans-serif;
                    font-weight: 700;
                    
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }
            }
            button {
                width: 7rem;
                height: 3rem;
                color: white;
                background: #3cb4ac;
                border-radius: 50px;
                cursor: pointer;
                outline: none;
                transition: .2s ease-in-out;

                &:hover {
                    background: $darkCyan;
                }
            }
        }
    }

    article {
        padding: 0;
        border: $darkGray 1px solid;
        margin-bottom: 1.5rem;
        position: relative;
        transition: .2s ease-in-out;

        h1 {
            font-size: 0.75rem;
        }
        label {
            font-size: 0.75rem;
            font-weight: 700;
            transition: .2s ease-in-out;

            &:hover {
                color: $darkCyan;
            }
        }
        h2 {
            font-size: 0.75rem;
        }
    }
}

// Success Modal

.success-modal {
    text-align: center;
    max-width: calc(33.75rem - 96px);
    padding: 3rem;
    background: white;
    border-radius: 10px;
    margin: auto 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    display: none;

    @include breakpoint-up(medium) {
        transform: translate(-50%, -50%);
        margin-left: 50%;
        width: calc(33.75rem - 96px);
    }

    h1 {
        margin-top: 1.75rem;
        font-size: 1.125rem;
    }
    p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 2rem;
        color: $darkGray;
    }
    button {
        font-size: 0.75rem;
        font-weight: 700;
        color: white;
        height: 3rem;
        width: 6.75rem;
        background: $moderateCyan;
        border-radius: 1.5rem;
        margin-top: 2rem;
        cursor: pointer;
        outline: none;
        transition: .2s ease-in-out;

        &:hover {
            background: $darkCyan;
        }
    }
}