section {
    position: relative;
    top: -3.5rem;
    margin: 0 1.5rem;
    text-align: center;
    max-width: 45.625rem;

    @include breakpoint-up (large) {
        top: -9.75rem;
        margin: 0 auto;
    }

    @include breakpoint-up (medium) {
        max-width: 38rem;
        margin: 0 auto;
    }

    article {
        background: white;
        padding: 2.5rem 1.5rem;
        border-radius: 10px;

        @include breakpoint-up (medium) {
            padding: 2.5rem 3rem;
        }
    }

    .article-shadow {
        box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.1);
        margin-bottom: 1.625rem;
    }
}